@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

header {
    background-color: #046da0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container img {
    max-width: 60px;
    padding: 10px;
}

header .logo-container p {
    font-size: 1.2rem;
    color: aliceblue;
}

header .buscador-container input {
    border-radius: 5px;
    height: 40px;
    width: 250px;
}

header .buscador-container button{
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color: aliceblue;
    height: 40px;
    width: 50px;
}

header .buscador-container button:hover{
    background-color: #046da0;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}